<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>
    <div class="container-fluid">
      
    

      <!-- NavBar -->

    <%- include("./partials/nav.ejs") %>
      

    <!-- Product Carosoul -->
    
    <%- include('./partials/productCarosoul') %> 
      
      <!-- Products Page -->

      <%- include('./partials/signup') %> 


      <!-- Footer -->

      <%- include('./partials/footer') %> 

    </div>
    <%- include('./partials/scripts.ejs') %> 
</html>